{% extends "base.html" %}
{% block title %}
Client-Menu
{% endblock title %}

{% block body %}
<div style="display: flex;">
    {% for item in items %}
    <form action="{% url 'addtocart' %}" method="post">
        {% csrf_token %}
        <div class="card" style="width: 16rem;">
            <img src="{{item.items_image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.items_name}}</h5>
                <p class="card-text">{{item.items_description|truncatechars:30}}</p>
                <input type="number" placeholder="Qty" name='qty'>
                <input type="text" value="{{item.pk}}" style="display: none;" name="itemspk"> <br><br>
                <input type="submit" value="Add to Cart">
            </div>
    </form>
    </div>
    {% endfor %}
</div>
{% endblock body %}