{% extends "base.html" %}

{% block title %}
Menu
{% endblock title %}

{% block body %}
<center>
    <h1>Menu</h1>
    <center>
        <form method="post">
            {% csrf_token %}
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Sl.no</th>
                    <th scope="col">Item</th>
                    <th scope="col">Item Description</th>
                    <th scope="col">Item Price</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                      
                      {% for item in items  %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{item.items_name}}</td>
                        <td>{{item.items_description|truncatechars:30}}</td>
                        <td>{{item.items_price}}</td>
                        <td>
                            <a href="{% url 'delete_item' item.pk %}">Update |</a>
                            <a href="{% url 'delete_item' item.pk %}">| Delete</a>
                              
                        </td>
                      </tr>
                      {% endfor %}
                          
                  
                </tbody>
            </table>
        </form>
    </center>
</center>
{% endblock body %}